extends ../layout

block content
    h1 Liste des articles
    ul
        each post in posts
            li(style="list-style: none")
                article
                    header
                        h1
                            a(href=`/posts/${post.id}`) #{post.title}
                    p #{post.content}