doctype html
html
    head
        link(href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" rel="stylesheet")
        title Blog -
    body
        header
            nav
                ul
                    li
                        a(href="/") Accueil
                    li
                        a(href="/posts/create") Nouvel article
        main.container
            block content