doctype html
html
    head
        link(href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" rel="stylesheet")
        title Blog -
    body
        header
            nav.container-fluid
                ul
                    li
                        a(href="/") Accueil
                    li
                        a(href="/posts/create") Nouvel article
                ul
                    if session.userId
                        li
                            a(href="/logout") Déconnexion
                    else
                        li
                            a(href="/register") Inscription
                        li
                            a(href="/login") Connexion
        main.container
            block content