extends ../layout

block content
    h1 Connexion

    if errors && errors.length
        ul
            each error in errors
                li(style="color: #b22222")= error

    form(method="POST")
        div
            label(for="email") Email
            input(type="email" id="email" name="email" placeholder="Exemple : john.doe@adresse.fr" required)
        div
            label(for="password") Mot de passe
            input(type="password" id="password" name="password" required)
        button(type="submit") Se connecter